{% extends "base.html" %}
{% block content %}
<h1>Create your own questionnaire</h1>

<form method="post"> {% csrf_token %}
	{{form.as_p}}
	<div>
		<label>Choices:</label>
		<input id="choiceInput" style="display: block" type="text" name="choice" required />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<input style="display: block" type="text" hidden name="choice" />
		<button id="addRow">+</button>
	</div>
	<br />
	<input type="submit" value="Create Questionnaire" />
</form>


<script>
	function insertAfter(newNode, existingNode) {
		existingNode.parentNode.insertBefore(newNode, existingNode.nextSibling);
	}

	window.addEventListener("load", () => {
		const node = document.getElementById("choiceInput");
		const inputs = [].slice.call(document.querySelectorAll("input[hidden]"));
		let flag = true;
		for (let i = inputs.length; i-- > 0;) {
			if (flag) {
				if (inputs[i].value !== "") {
					flag = false;
					node.removeAttribute("id");
					inputs[i].setAttribute("id", "choiceInput");
					inputs[i].removeAttribute("hidden");
				}
			} else {
				inputs[i].removeAttribute("hidden");
			}
		}
	});

	document.getElementById("addRow").addEventListener("click", (e) => {
		e.preventDefault()
		const node = document.getElementById("choiceInput");
		if (node.nextElementSibling.tagName === "INPUT") {
			const clone = node.nextElementSibling;
			clone.removeAttribute("hidden");
			clone.setAttribute("id", node.id);
			node.removeAttribute("id");
			return;
		}
		const clone = node.cloneNode();
		clone.value = "";
		node.removeAttribute("id");
		insertAfter(clone, node);
	});

</script>

{% endblock %}
